/* postcss(css module)를 쓸때는 항상 module을 붙여줘야 한다 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #132f52;
}

.nav a {
  padding: 0 8px;
}
